<!DOCTYPE html>
{% load staticfiles %}
{% load tags %}
<html lang="en">
<head>
    <script src="{% static 'jquery-2.1.4.min.js'%}"></script>
    <script src="{% static 'nouislider/nouislider.js'%}"></script>
    <meta charset="UTF-8">
    <title>Tuutikki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'pure-min.css' %}">
    <link rel="stylesheet" href="{% static 'nouislider/nouislider.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.5.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'common.css'%}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="pure-menu pure-menu-horizontal" style="background-color: #2196F3; box-shadow: 3px 3px 3px #888888;">
    <ul class="pure-menu-list" style="width: 100%">
        <div class="menu-left">
            <li class="pure-menu-item"><a href="/" style="color: #FFFFFF; " class="pure-menu-heading pure-menu-link"><i class="fa fa-clock-o" aria-hidden="true"></i>
Tuutikki</a></li>
            <li class="pure-menu-item"><a style="color: #FFFFFF; " href="{% caravel_url %}" class="pure-menu-link"><i class="fa fa-bar-chart" aria-hidden="true"></i>
 Statistics</a></li>
            <li class="pure-menu-item"><a style="color: #FFFFFF;" href="/admin"
                                          class="pure-menu-link"><i class="fa fa-cog" aria-hidden="true"></i>

Administration</a>
            </li>
        </div>
        <div class="menu-right">
            {% if not user.is_anonymous %}
            <li class="pure-menu-item"><a style="color: #FFFFFF;" href="{% url 'logout' %}" class="pure-menu-link"> Log
                Out <i class="fa fa-sign-out" aria-hidden="true"></i>
</a>
            </li>
        </div>
        {% endif %}
    </ul>
</div>
{% block content %}
{% endblock %}
</body>
</html>
