{% load staticfiles %}
<div class="edit-week-top-bar">
            <div id="new-entry-buttons">
                <a type="button" href="{% url 'edit_week' year week user.id %}"
                   class="pure-button {% if regular_entry %} pure-button-primary-nhour {% endif %} save">Regular</a>
                <a type="button" href="{% url 'edit_week' year week user.id %}?special=True"
                   class="pure-button {% if not regular_entry%} pure-button-primary-nhour {% endif %} save">Special</a>
            </div>
        </div>
{% if not request.GET.special %}
    <div class="quick-select" style="width: 100%">
        Shortcuts
        {% for s in shortcuts %}
            <button class="pure-button" data-system="{{ s.system.id }}" data-project="{{ s.project.id }}" data-task="{{ s.task.id }}">
                {{ s.system.name }} {% if s.project %} - {{ s.project.name }} {% endif %} - {{ s.task.name }}
            </button>
        {% endfor %}
    </div>
{% endif %}
<form class="pure-form pure-form-stacked" method="post" style="margin-top: 8px;">
    {% csrf_token %}
    <div class="blueback">
        <fieldset>
            <div id="entry-edit-form">
                {% for field in form %}
                <div class="fieldWrapper">
                    {% if not field.is_hidden %}
                    <label for="{{ field.auto_id }}">
                        {{ field.label }}
                        {% if field.field.required %}
                            <span class="required">*</span>
                        {% endif %}
                        {% for error in field.errors %}
                            <span class="required" style="float: right;">{{ error }}</span>
                        {% endfor %}
                    </label>
                    {% endif %}
                    {{ field }}
                    <div class="doc-box blueback blueback-lighter"></div>
                </div>
                {% endfor %}
            </div>
            <label for="slider">Hours: <span id="hours-selected"></span></label>

            <div id="slider"></div>

        </fieldset>
    </div>
    <div class="submit-buttons">
      {% if form.instance.id %}

      <button type="submit" formaction="{% url 'save_entry' form.instance.id %}" class="pure-button save"><i class="fa fa-floppy-o"></i>
          Save
      </button>
      <button type="submit" formaction="{% url 'delete_entry' form.instance.id %}" class="pure-button save"><i class="fa fa-trash"></i>
          Delete
      </button>
      <a type="button" href="{% url 'edit_week' year week user.id %}" class="pure-button save"><i class="fa fa-ban"></i>
          Cancel
      </a>

      {% else %}
      <button type="submit" class="pure-button save" formaction="{% url 'create_entry' %}{% if request.GET.special %}?special={{ request.GET.special }} {% endif %}"><i class="fa fa-plus"></i>
          Add
      </button>
      {% endif %}
    </div>
</form>
<script src="{% static 'ui_slider.js'%}"></script>
<script src="{% static 'docbox.js'%}"></script>
<script>

{% if form.instance.id %}
    defaultHours = {{ form.instance.hours }}
{% else %}
    defaultHours = 10;
{% endif %}
$(document).ready(createSlider(defaultHours));


{% if not request.GET.special %}

    tasks = {{ tasks | safe}}
    projects = {{ projects | safe}}
    systems = {{ systems | safe}}

    new DocBox(tasks, $("#id_task"), $("#id_task").siblings(".doc-box"));
    new DocBox(projects, $("#id_project"), $("#id_project").siblings(".doc-box"));
    new DocBox(systems, $("#id_system"), $("#id_system").siblings(".doc-box"));

{% else %}

    activities = {{ activities | safe }}
    new DocBox(activities, $("#id_activity"), $("#id_activity").siblings(".doc-box"));

{% endif %}

$(".quick-select button").click(function(event) {
    var selected = $(event.target)
    $("#id_system").val(selected.data("system"))
    $("#id_project").val(selected.data("project"))
    $("#id_task").val(selected.data("task"))
})

</script>
