{% if entries %}
<h2>Regular</h2>
<table class="blueback pure-table entry-list">
    <tr>
        <th style="width: 10%;"><i class="fa fa-clock-o"></i></th>
        <th>System</th>
        <th>Project</th>
        <th>Task</th>
    </tr>
    {% for entry in entries %}
    <tr class="blueback blueback-lighter entry-list-row"
        data-url="{% url 'edit_week' year week user %}?entry={{ entry.id }}">
        <td style="text-align: center;">{{ entry.hours }}</td>
        <td>{{ entry.system }}</td>
        <td>{{ entry.project }}</td>
        <td>{{ entry.task }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if special_entries %}
<h2>Special</h2>
<table class="blueback pure-table entry-list">
    <tr>
        <th style="width: 10%;"><i class="fa fa-clock-o"></i></th>
        <th>Activity</th>
    </tr>
    {% for entry in special_entries %}
    <tr class="blueback blueback-lighter entry-list-row"
        data-url="{% url 'edit_week' year week user %}?entry={{ entry.id }}">
        <td style="text-align: center;">{{ entry.hours }}</td>
        <td>{{ entry.activity }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if total_hours %}
<td style="padding: 0;">Total: {{ total_hours }}</td>
{% endif %}
<script>
    $(".entry-list-row").click(
        function(click) {
            edit_url = $(click.delegateTarget).data("url")
            window.location.assign(edit_url);
        }
    )


</script>
