{% load staticfiles %}
<form class="pure-form pure-form-stacked" method="post" style="margin-top: 8px;">
    {% csrf_token %}
    <div class="blueback">
        <fieldset>
            <div id="entry-edit-form">
                {% for field in form %}
                <div class="fieldWrapper">
                    {% if not field.is_hidden %}
                    <label for="{{ field.auto_id }}">
                        {{ field.label }}
                        {% if field.field.required %}
                            <span class="required">*</span>
                        {% endif %}
                        {% for error in field.errors %}
                            <span class="required" style="float: right;">{{ error }}</span>
                        {% endfor %}
                    </label>
                    {% endif %}
                    {{ field }}
                </div>
                {% endfor %}
            </div>
            <label for="slider">Hours: <span id="hours-selected"></span></label>

            <div id="slider"></div>

        </fieldset>
    </div>
    <div class="submit-buttons">
      {% if form.instance.id %}

      <button type="submit" formaction="{% url 'save_entry' form.instance.id %}" class="pure-button save"><i class="fa fa-floppy-o"></i>
          Save
      </button>
      <button type="submit" formaction="{% url 'delete_entry' form.instance.id %}" class="pure-button save"><i class="fa fa-trash"></i>
          Delete
      </button>
      <a type="button" href="{% url 'edit_week' year week user %}" class="pure-button save"><i class="fa fa-ban"></i>
          Cancel
      </a>

      {% else %}
      <button type="submit" class="pure-button save" formaction="{% url 'create_entry' %}?special={{ request.GET.special }}"><i class="fa fa-plus"></i>
          Add
      </button>
      {% endif %}
    </div>
</form>
<script src="{% static 'ui_slider.js'%}"></script>
<script>

{% if form.instance.id %}
    defaultHours = {{ form.instance.hours }}
{% else %}
    defaultHours = 10;
{% endif %}
$(document).ready(createSlider(defaultHours));
</script>
