{% extends 'nhour/base.html' %}
{% block content %}
<div id="container">
    {% for error in register_form.non_field_errors %}
        <span class="required">{{ error }}</span>
    {% endfor %}
    <h2>Register</h2>
    <form class="pure-form pure-form-stacked register-form" method="post"> {% csrf_token %}
        <div class="pure-g">
            <div class="pure-u-1-2">
                <div class="pure-control-group">
                    <label for="{{ register_form.username.id_for_label }}">Username</label>
                    {{ register_form.username }}
                    {% for error in register_form.username.errors %}
                        <span class="required">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="pure-control-group">
                    <label for="{{ register_form.password.id_for_label }}">Password</label>
                    {{ register_form.password }}
                    {% for error in register_form.password.errors %}
                        <span class="required">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="pure-control-group">
                    <label for="{{ register_form.password_again.id_for_label }}">Password again</label>
                    {{ register_form.password_again }}
                    {% for error in register_form.password_again.errors %}
                        <span class="required">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="pure-u-1-2">
                <div class="pure-control-group">
                    <label for="{{ register_form.email.id_for_label }}">Email</label>
                    {{ register_form.email }}
                    {% for error in register_form.email.errors %}
                        <span class="required">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="pure-control-group">
                    <label for="{{ register_form.first_name.id_for_label }}">First name</label>
                    {{ register_form.first_name }}
                    {% for error in register_form.first_name.errors %}
                        <span class="required">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="pure-control-group">
                    <label for="{{ register_form.last_name.id_for_label }}">Last name</label>
                    {{ register_form.last_name }}
                    {% for error in register_form.last_name.errors %}
                        <span class="required">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary save-register">Submit</button>
        </div>
        <p>
            <a href="{% url 'login' %}">Already registered?</a>
        </p>

    </form>
</div>
{% endblock %}