.blueback {
    background-color: #BBDEFB;
    color: #212121;
    padding: 4px;
    box-shadow: 2px 2px 3px #888888;
}

.blueback-lighter {
    background-color: #ECF6FE;
}

.hours {
    margin: 8px;
    margin-left: 10px;
}

.save {
    margin-top:8px;
}

.errors {
    background-color: #ff7777;
    padding: 1px;
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: 2px 2px 3px #888888;
    overflow: hidden;
}

* {
    font-family: 'Droid Sans', sans-serif;
  }

#container {
    margin:    0 auto;
    max-width: 500px;
}

#entry-edit-form select {
    width: 100%;
}