.blueback {
    background-color: #BBDEFB;
    color: #212121;
    padding: 4px;
    box-shadow: 2px 2px 3px #888888;
    border-radius: 5px;
}

.blueback-lighter {
    background-color: #ECF6FE;
}

.hours {
    margin: 8px;
    margin-left: 10px;
}

.save {
    margin-top:8px;
    box-shadow: 2px 2px 3px #888888;
}

.save-register {
    box-shadow: 2px 2px 3px #888888;
}

.errors {
    background-color: #ff7777;
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: 2px 2px 3px #888888;
    overflow: hidden;
}

* {
    font-family: 'Open Sans', sans-serif;
  }

.required {
    color: red;
}

#container {
    margin: 10px auto;
    max-width: 550px;
}
#entry-edit-form select, textarea {
    width: 100%;
}
#entry-edit-form textarea {
    resize: none;
}

.pure-form select {
    height: 40px;
}

.pure-form-legend-without-border {
    border-bottom: 0px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.entry-list {
    border-collapse:separate;
    border-spacing:0 8px; width: 100%;
    table-layout: fixed;
}

.entry-list th {
    text-align: left;
}


.entry-list-delete-entry {
    background:none;
    border:none;
    margin:0;
    padding:0;
}
.entry-list-row {
    margin-bottom: 10px;
}

.entry-list-row:hover {
    background-color: #bbb;
}

.entry-list-row td{
    overflow: hidden;
}

.menu-left{
    float: left;
}

.menu-right{
    float: right;
}